@import "utils/libs";
@import "utils/vars";
@import "utils/images";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import "utils/animation";
@import "utils/tech_icons";

html {
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	height: 100%;
	@media screen and (max-width: $desktopWidth) {
		font-size: 16px;
	}
	@media screen and (max-width: $tableWidth) {
		font-size: 15px;
	}
	@media screen and (max-width: $phoneWidth) {
		font-size: 14px;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: $mainFont;
	font-size: $mainFontSize;
	font-weight: $mainFontWeight;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	margin-top: 90px;
	box-sizing: border-box;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.container {
	width: 1200px;
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
	@media screen and (max-width: 1250px) {
		width: calc(100% - 30px);
		margin: 0 15px;
	}
}

// Modules
@import "modules/header";
@import "modules/about";
@import "modules/projects";
@import "modules/contact";
@import "modules/footer";
