// Logos
$images_mainLogo 					: url('../img/logo-black.svg');
$images_grayLogo 					: url('../img/logo-gray.svg');
$images_whiteLogo					: url('../img/logo-white.svg');

// Services
$images_githubLogo					: url('../img/github-icon.svg');
$images_tLogo						: url('../img/telegram-icon.svg');