$images_mainLogo 					: url('../img/logo.svg');
$images_ronchLogo					: url('../img/logo-ronch.svg');
$images_mbLogo						: url('../img/logo-bm.svg');
$images_grayLogo 					: url('../img/logo-gray.svg');
$images_whiteLogo					: url('../img/logo-white.svg');


$images_githubLogo					: url('../img/github-icon.svg');
$images_tLogo						: url('../img/telegram-icon.svg');