.about {
	background-color: #fafafa;
	padding: 100px 0 20px;
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__photo {
		width: 150px;
		height: 150px;
		border-radius: 10em;
		overflow: hidden;
		margin-bottom: 20px;
	}
	&__title {
		text-align: center;
		font-size: 28px;
		font-weight: 300;
		width: 100%;
		color: $mainFontColor;
		margin-bottom: 25px;
		strong { 
			font-weight: bold;
			color: $mainFontColor;
		}
	}
	&__text {
		margin-bottom: 30px;
		p {
			line-height: 130%;
			font-weight: 400;
			font-size: 18px;
		}
	}
	.skills {
		width: 100%;
		ul {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			li {
				width: 80px;
				height: 80px;
				margin: 0 15px 15px 0;
				background-color: rgba(0, 0, 0, 0.05);
				border-radius: 3px;
				box-sizing: border-box;
				padding: 10px;
				background-position: center center;
				background-repeat: no-repeat;
				transition: all 150ms;
				&:hover {
					cursor: pointer;
					box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
				}
			}
		}
		&__html { background-image: $images_html5; background-size: 40px; }
		&__js { background-image: $images_nodejs; background-size: 40px; }
		&__php { background-image: $images_php; background-size: 55px; }
		&__sketch { background-image: $images_sketch; background-size: 50px; }
		&__photoshop { background-image: $images_photoshop; background-size: 40px; }
	}
}


/*
	width: 80px;
	height: 80px;
	margin: 0 15px 15px 0;
	background-color: rgba(0, 0, 0, 0.4);
*/