.about {
	padding: 100px 0 50px;
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__photo {
		width: 150px;
		height: 150px;
		border-radius: 10em;
		overflow: hidden;
		margin-bottom: 20px;
	}
	&__title {
		text-align: center;
		font-size: 28px;
		font-weight: 300;
		width: 100%;
		color: $mainFontColor;
		strong { 
			font-weight: bold;
			color: #000;
		}
	}
}