.about {
	background-color: #fafafa;
	padding: 100px 0 20px;
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__photo {
		width: 150px;
		height: 150px;
		border-radius: 10em;
		overflow: hidden;
		margin-bottom: 20px;
	}
	&__title {
		text-align: center;
		font-size: 28px;
		font-weight: 300;
		width: 100%;
		color: $mainFontColor;
		margin-bottom: 25px;
		strong { 
			font-weight: bold;
			color: $mainFontColor;
		}
	}
	&__text {
		margin-bottom: 30px;
		p {
			line-height: 130%;
			font-weight: 400;
			font-size: 18px;
		}
	}
	.skills {
		width: 100%;
		&__description {
			width: 100%;
			text-align: left;
			margin-bottom: 10px;
			font-weight: bold;
			border-bottom: 1px solid #f0f0f0;
			padding-bottom: 10px;
		}
		ul {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			li {
				width: 80px;
				min-height: 80px;
				margin: 0 15px 15px 0;
				background-color: #fff;
				box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.02);
				border-radius: 3px;
				box-sizing: border-box;
				padding: 10px;
				transition: all 200ms ease-in-out;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				.icon {
					background-position: center center;
					background-repeat: no-repeat;	
					width: 55px;
					height: 55px;
				}
				.text {
					width: 100%;
					font-size: 11px;
					text-align: center;
					padding-top: 7px;
				}
				&:hover {
					cursor: pointer;
					box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
				}
			}
		}
		&__html { .icon { background-image: $images_html5; background-size: 40px; } }
		&__js { .icon { background-image: $images_nodejs; background-size: 40px; } }
		&__php { .icon { background-image: $images_php; background-size: 55px; } }
		&__sketch { .icon { background-image: $images_sketch; background-size: 50px; } }
		&__photoshop { .icon { background-image: $images_photoshop; background-size: 40px; } }
		&__sublime { .icon { background-image: $images_sublimeText; background-size: 40px; } }
		&__sass { .icon { background-image: $images_sass; background-size: 40px; }  }
		&__less { .icon { background-image: $images_less; background-size: 55px; }  }
		&__webpack { .icon { background-image: $images_webpack; background-size: 40px; }  }
		&__gulp { .icon { background-image: $images_gulp; background-size: 25px; }  }
		&__figma { .icon { background-image: $images_figma; background-size: 25px; }  }
		&__jquery { .icon { background-image: $images_jquery; background-size: 40px; }  }
		&__webstorm { .icon { background-image: $images_webstorm; background-size: 40px; }  }
	}
}


/*
	width: 80px;
	height: 80px;
	margin: 0 15px 15px 0;
	background-color: rgba(0, 0, 0, 0.4);
*/