.contact {
	background-color: #fafafa;
	padding: 70px 0;
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__item {
		margin: 15px;
		width: 100px;
		height: 100px;
		border-radius: 10em;
		background-color: #eee;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50px;
		opacity: 0.5;
		transition: all 150ms ease-in-out;
		&-telegram {
			background-image: $images-contacts-telegram;	
		}
		&-fbmess {
			background-image: $images-contacts-facebook;
		}
		&-email {
			background-image: $images-contacts-email;
		}
		&:hover {
			cursor: pointer;
			opacity: 1;
		}
	}
}