.footer {
    margin-top: 70px;
    padding: 35px 0;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &__link {
            width: 70px;
            height: 60px;
            background-image: $images_mainLogoV2;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            transition: all 150ms;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &:hover {
                cursor: pointer;
                opacity: .6;
            }        
        }
    }
    &__text {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        line-height: 130%;
        a {
            color: $mainFontColor;
            border-bottom: 1px dotted;
            transition: all 150ms;
            &:hover {
                cursor: pointer;
                color: $primary-color;
                border-color: $primary-color;
            }
        }
    }
}
